<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<script src="./w3js/4/w3.js" defer></script>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black flex">
    <div class="w3-col s3">
      <a href="./index.html" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="./menu.html" class="w3-button w3-block w3-black">MENU</a>
    </div>
    <div class="w3-col s3">
      <a href="./reservation.html" class="w3-button w3-block w3-black">RESERVATION</a>
    </div>
  </div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large"  style="padding: 70px 0 32px;">

<!-- Menu Container -->
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">RESERVATION</span></h5>

    <div class="w3-container w3-padding-48 w3-margin-bottom w3-card">
      <h5>Lucas and Sherri</h5>
      <p class="w3-text-grey">How many people: 2</p>
      <p class="w3-text-grey">Date: 04/14/22</p>
      <p class="w3-text-grey"> Time: 1 pm</p>
      <p>Message/ Special requirements: We would like to sit at the large working station near the window.</p>
      <a href="./edit.html"><button>Edit</button></a>
      <form action="" method="" class="delete-btn">
        <input type="submit" value="Delete" />
      </form>
    </div> 

    <div class="w3-container w3-padding-48 w3-margin-bottom w3-card">
      <h5>Bette Porter and Tina Kennard</h5>
      <p class="w3-text-grey">How many people: 30</p>
      <p class="w3-text-grey">Date: 04/17/22</p>
      <p class="w3-text-grey"> Time: 5 pm</p>
      <p>Message/ Special requirements: Hosting an event on co-parenting.</p>
      <a href="#"><button>Edit</button></a>
      <form action="" method="" class="delete-btn">
        <input type="submit" value="Delete" />
      </form>
    </div> 

    <div class="w3-container w3-padding-48 w3-margin-bottom w3-card">
      <h5>Uncle Phil and Aunt Viv</h5>
      <p class="w3-text-grey">How many people: 12</p>
      <p class="w3-text-grey">Date: 04/16/22</p>
      <p class="w3-text-grey"> Time: 7 pm</p>
      <p>Message/ Special requirements: Wedding anniversary</p>
      <a href="#"><button>Edit</button></a>
      <form action="" method="" class="delete-btn">
        <input type="submit" value="Delete" />
      </form>
    </div> 

    <div class="w3-container w3-padding-48 w3-margin-bottom w3-card">
      <h5>Mitchell Pritchett and Cam Tucker</h5>
      <p class="w3-text-grey">How many people: 15</p>
      <p class="w3-text-grey">Date: 04/16/22</p>
      <p class="w3-text-grey"> Time: 3 pm</p>
      <p>Message/ Special requirements: Birthday celebration for Lilly!</p>
      <a href="#"><button>Edit</button></a>
      <form action="" method="" class="delete-btn">
        <input type="submit" value="Delete" />
      </form>
    </div> 

    <div class="w3-container w3-padding-48 w3-margin-bottom w3-card">
      <h5>Rue Bennett and Jules Vaughn</h5>
      <p class="w3-text-grey">How many people: 10</p>
      <p class="w3-text-grey">Date: 04/17/22</p>
      <p class="w3-text-grey"> Time: 8 pm</p>
      <p>Message/ Special requirements: Rue's sobriety anniversary</p>
      <a href="#"><button>Edit</button></a>
      <form action="" method="" class="delete-btn">
        <input type="submit" value="Delete" />
      </form>
    </div> 

  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by <a href="#" class="w3-hover-text-green">w3.css</a> |
    Refactored for the 2022 CodeSquad Cohort!</p>
</footer>

</body>
</html>